<div class="container p-4">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-12 bg-light p-4 rounded">
          <p><strong>Razão social:</strong> <%= @provider.name %></p>
          <p><strong>CNPJ:</strong> <%= @provider.cnpj %></p>
          <p><strong>URL:</strong> <%= @provider.site_url %></p>
          <p><strong>Contato:</strong> <%= @provider.contact_name %></p>
          <p><strong>Criado em:</strong> <%= @provider.created_at.strftime("%d/%m/%Y") %></p>
          <p><strong>Atualizado em:</strong> <%= @provider.updated_at.strftime("%d/%m/%Y") %></p>
          <p>
          <td><%= link_to providers_path, class: "btn btn-magic" do %>
            <i class="fas fa-arrow-circle-left"></i>
          <% end %></td>
          <td><%= link_to edit_provider_path(params[:id]), class: "btn btn-magic" do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %></td>
    </div>
  </div>
</div>
