<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-12 bg-light rounded p-3">
      <h1 class="text-center mb-4"><%= @municipality.name %> - <%= @municipality.state.name %></h1>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Datas do Batch:</strong></p>
        <p><%= @municipality.batch.start_date.strftime("%d/%m/%Y") %> - <%= @municipality.batch.end_date.strftime("%d/%m/%Y") %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Capital?</strong></p>
        <p class="fs-5"><%= icons(@municipality.capital_city) %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Estado:</strong></p>
        <p><%= @municipality.state.code %> - <%= @municipality.state.name %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Contato:</strong></p>
        <p><%= @municipality.contact_name %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Cargo:</strong></p>
        <p><%= @municipality.contact_title %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Coordenador original:</strong></p>
        <p><%= @municipality.original_coordinator %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Tentativas:</strong></p>
        <p><%= @municipality.number_of_attempts %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Última Tentativa:</strong></p>
        <p><%= @municipality.date_last_attempt.strftime("%d/%m/%Y") %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Contato Funcionou?</strong></p>
        <p class="fs-5"><%= icons(@municipality.contact_effective) %></p>
      </div>

      <div class="d-flex align-items-center">
        <p class="me-3"><strong>Carta oficial enviada: </strong></p>
        <p><%= @municipality.official_letter_sent.strftime("%d/%m/%Y") %></p>
      </div>





    </div>
  </div>
</div>